* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

.box-content {
  overflow: hidden;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.header__left {
  gap: 41px;
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 32px;
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
#burger:checked ~ .burger__nav {
  right: -232px;
}

.burger__nav {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  z-index: 1;
  position: absolute;
  top: 80px;
  right: 0;
  transition: right 0.3s;
}
.burger__nav__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.burger__nav__box {
  padding-top: 24px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.burger__nav__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.burger__nav__links-list {
  list-style-type: none;
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.burger__nav__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-left: 21px;
}
.burger__nav__link:hover {
  color: #F16D7F;
}

.top__info {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background: #F1E4E6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.brand-box {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}
.brand-box__name {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}
.brand-box__text {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
}

.colored {
  color: #F16D7F;
}

.sale__content {
  padding-top: 65px;
  padding-bottom: 96px;
  background: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.sale__item {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sale__item_title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.sale__item_info {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}
.sale__item_big {
  min-height: 180px;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.woman {
  background-image: url(img/item_for_woman.svg);
  background-size: cover;
  background-position-x: center;
}

.man {
  background-image: url(img/item_for_men.svg);
  background-size: cover;
  background-position-x: center;
}

.kids {
  background-image: url(img/item_for_kids.svg);
  background-size: cover;
  background-position-x: center;
}

.accesoires {
  background-image: url(img/item_big_accesories.svg);
  background-size: cover;
  background-position-x: center;
}

.products__info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.products__info__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.products__info__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.products__items {
  padding-top: 48px;
  background: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product__box {
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  position: relative;
}
.product__box:hover::after {
  content: url(img/Hover.svg);
  position: absolute;
}

.product__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 24.35px;
  padding-bottom: 20px;
  padding-left: 18px;
}
.product__content__name {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.product__content__info {
  margin-top: 12.65px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.product__content__price {
  margin-top: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products__footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 48.5px;
  margin-bottom: 60.5px;
}

.browse__all__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  border: 1px solid #FF6A6A;
  background: none;
  width: 212px;
  height: 48px;
  transition: background-color 1s;
}
.browse__all__button:hover {
  background: #F16D7F;
  color: #F8F8F8;
}

.footer__wrapper {
  background-color: #222;
}

.features {
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.feature__item {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.feature__item__heading {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 25px;
}
.feature__item__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  padding-top: 16px;
}

.subscribe {
  background-image: url(img/photo_subscribe.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 97px;
  padding-bottom: 126px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.author {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.author__text {
  height: 100px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: 30px;
  width: 360px;
}

.subscribe__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.subscribe__info__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.subscribe__info__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe__text-field__group {
  margin-top: 32px;
  display: flex;
  height: 49px;
}
.subscribe__text-field__input {
  width: 256px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  vertical-align: middle;
  color: #222224;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  position: relative;
  z-index: 3;
  background-color: #E1E1E1;
  border: none;
}
.subscribe__text-field__btn {
  height: 50px;
  width: 100px;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #F16D7F;
  transition: background-color 0.15s ease-in-out;
  position: relative;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-left-width: 0;
  border: none;
}
.subscribe__text-field__btn:hover {
  background-color: #E05C6E;
}

.contacts {
  display: flex;
  justify-content: space-between;
  margin-left: 235px;
  margin-right: 230px;
  min-height: 79px;
  align-items: center;
}
.contacts__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  display: flex;
  align-items: center;
}
.contacts__social__icons {
  display: flex;
  gap: 7.3px;
  align-items: center;
}

.icon {
  width: 32px;
  fill: #E1E1E1;
}

.icon:hover path {
  fill: #F16D7F;
}

.social_icon_background {
  width: 32px;
  height: 31px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
}

.social_icon {
  fill: black;
}

.social_icon_background:hover {
  background-color: #F16D7F;
}

.social_icon_background:hover .social_icon path {
  fill: white;
}

@media (max-width: 1024px) {
  .page {
    padding-left: calc(50% - 366px);
    padding-right: calc(50% - 366px);
  }
  .header {
    padding-bottom: 18px;
  }
  .header_menu {
    gap: 25px;
  }
  .top__info {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .brand__name {
    font-size: 44px;
    line-height: 53px;
  }
  .brand__text {
    font-size: 24px;
    line-height: 25px;
  }
  .sale__content {
    padding-bottom: 110px;
    gap: 20px;
  }
  .sale__item {
    height: 168px;
  }
  .sale__item_big {
    min-height: 116px;
  }
  .products__items {
    padding-top: 73px;
    background: white;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .product__content {
    padding-left: 16px;
  }
  .products__footer {
    margin-top: 33px;
    margin-bottom: 71px;
  }
  .features {
    padding-top: 48px;
    padding-bottom: 64px;
    gap: 48px;
    align-content: center;
    flex-direction: column;
  }
  .subscribe {
    min-height: 614px;
    flex-direction: column;
    padding-bottom: 140px;
  }
  .subscribe__info {
    margin-top: 48px;
    margin-bottom: 27px;
  }
  .contacts {
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media (max-width: 767px) {
  .page {
    padding-left: calc(50% - 183.5px);
    padding-right: calc(50% - 183.5px);
  }
  .none {
    margin: 0 auto;
    display: none;
  }
  .top__info {
    padding-top: 148px;
    padding-bottom: 149px;
  }
  .brand__name {
    font-size: 38px;
    line-height: 46px;
  }
  .brand__text {
    font-size: 20px;
    line-height: 25px;
  }
  .sale__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .sale__item {
    min-height: 247px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sale__item_big {
    min-height: 111px;
  }
  .products__items {
    padding-top: 65px;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .products__footer {
    margin-top: 41px;
    margin-bottom: 85px;
  }
  .features {
    padding-top: 48px;
    padding-bottom: 81px;
    gap: 47px;
  }
  .feature__item {
    width: 350px;
  }
  .feature__item__heading {
    padding-top: 27px;
  }
  .feature__item__text {
    padding-top: 15px;
  }
  .subscribe {
    min-height: 550px;
    flex-direction: column;
    padding-bottom: 110px;
  }
  .author {
    margin-top: 64px;
  }
  .subscribe__info {
    margin-top: 59px;
    margin-bottom: 22px;
  }
  .subscribe__info__text {
    font-size: 15px;
  }
  .contacts {
    height: 143px;
    padding-top: 43px;
    padding-bottom: 10px;
    flex-direction: column-reverse;
    gap: 40px;
  }
}/*# sourceMappingURL=style.css.map */