* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.box-content {
  overflow: hidden;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.header__left {
  gap: 41px;
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 32px;
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
#burger:checked ~ .burger__nav {
  right: -232px;
}

.burger__nav {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  z-index: 1;
  position: absolute;
  top: 80px;
  right: 0;
  transition: right 0.3s;
}
.burger__nav__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.burger__nav__box {
  padding-top: 24px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.burger__nav__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.burger__nav__links-list {
  list-style-type: none;
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.burger__nav__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-left: 21px;
}
.burger__nav__link:hover {
  color: #F16D7F;
}

.top__info {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background: #F1E4E6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.brand-box {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}
.brand-box__name {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}
.brand-box__text {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
}

.colored {
  color: #F16D7F;
}

.sale__content {
  padding-top: 65px;
  padding-bottom: 96px;
  background: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.sale__item {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sale__item_title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.sale__item_info {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}
.sale__item_big {
  min-height: 180px;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.woman {
  background-image: url(img/item_for_woman.svg);
  background-size: cover;
  background-position-x: center;
}

.man {
  background-image: url(img/item_for_men.svg);
  background-size: cover;
  background-position-x: center;
}

.kids {
  background-image: url(img/item_for_kids.svg);
  background-size: cover;
  background-position-x: center;
}

.accesoires {
  background-image: url(img/item_big_accesories.svg);
  background-size: cover;
  background-position-x: center;
}

.products__info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.products__info__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.products__info__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.products__items {
  padding-top: 48px;
  background: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product__box {
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  position: relative;
}
.product__box:hover::after {
  content: url(img/Hover.svg);
  position: absolute;
}

.product__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 24.35px;
  padding-bottom: 20px;
  padding-left: 18px;
}
.product__content__name {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.product__content__info {
  margin-top: 12.65px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.product__content__price {
  margin-top: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products__footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 48.5px;
  margin-bottom: 60.5px;
}

.browse__all__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  border: 1px solid #FF6A6A;
  background: none;
  width: 212px;
  height: 48px;
  transition: background-color 1s;
}
.browse__all__button:hover {
  background: #F16D7F;
  color: #F8F8F8;
}

.footer__wrapper {
  background-color: #222;
}

.features {
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.feature__item {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.feature__item__heading {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 25px;
}
.feature__item__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  padding-top: 16px;
}

.subscribe {
  background-image: url(img/photo_subscribe.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 97px;
  padding-bottom: 126px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.author {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.author__text {
  height: 100px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: 30px;
  width: 360px;
}

.subscribe__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.subscribe__info__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.subscribe__info__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe__text-field__group {
  margin-top: 32px;
  display: flex;
  height: 49px;
}
.subscribe__text-field__input {
  width: 256px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-left: 21px;
  vertical-align: middle;
  color: #222224;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  position: relative;
  background-color: #E1E1E1;
  border: none;
}
.subscribe__text-field__input::-moz-placeholder {
  text-align: left;
}
.subscribe__text-field__input::placeholder {
  text-align: left;
}
.subscribe__text-field__btn {
  height: 50px;
  width: 100px;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #F16D7F;
  transition: background-color 0.15s ease-in-out;
  position: relative;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-left-width: 0;
  border: none;
}
.subscribe__text-field__btn:hover {
  background-color: #E05C6E;
}

.contacts {
  display: flex;
  justify-content: space-between;
  margin-left: 235px;
  margin-right: 230px;
  min-height: 79px;
  align-items: center;
}
.contacts__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  display: flex;
  align-items: center;
}
.contacts__social__icons {
  display: flex;
  gap: 7.3px;
  align-items: center;
}

.icon {
  width: 32px;
  fill: #E1E1E1;
}

.icon:hover path {
  fill: #F16D7F;
}

.social_icon_background {
  width: 32px;
  height: 31px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
}

.social_icon {
  fill: black;
}

.social_icon_background:hover {
  background-color: #F16D7F;
}

.social_icon_background:hover .social_icon path {
  fill: white;
}

@media (max-width: 1024px) {
  .page {
    padding-left: calc(50% - 366px);
    padding-right: calc(50% - 366px);
  }
  .header {
    padding-bottom: 18px;
  }
  .header_menu {
    gap: 25px;
  }
  .top__info {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .brand__name {
    font-size: 44px;
    line-height: 53px;
  }
  .brand__text {
    font-size: 24px;
    line-height: 25px;
  }
  .sale__content {
    padding-bottom: 110px;
    gap: 20px;
  }
  .sale__item {
    height: 168px;
  }
  .sale__item_big {
    min-height: 116px;
  }
  .products__items {
    padding-top: 73px;
    background: white;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .product__content {
    padding-left: 16px;
  }
  .products__footer {
    margin-top: 33px;
    margin-bottom: 71px;
  }
  .features {
    padding-top: 48px;
    padding-bottom: 64px;
    gap: 48px;
    align-content: center;
    flex-direction: column;
  }
  .subscribe {
    min-height: 614px;
    flex-direction: column;
    padding-bottom: 140px;
  }
  .subscribe__info {
    margin-top: 48px;
    margin-bottom: 27px;
  }
  .contacts {
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media (max-width: 767px) {
  .page {
    padding-left: calc(50% - 183.5px);
    padding-right: calc(50% - 183.5px);
  }
  .none {
    margin: 0 auto;
    display: none;
  }
  .top__info {
    padding-top: 148px;
    padding-bottom: 149px;
  }
  .brand__name {
    font-size: 38px;
    line-height: 46px;
  }
  .brand__text {
    font-size: 20px;
    line-height: 25px;
  }
  .sale__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .sale__item {
    min-height: 247px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sale__item_big {
    min-height: 111px;
  }
  .products__items {
    padding-top: 65px;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .products__footer {
    margin-top: 41px;
    margin-bottom: 85px;
  }
  .features {
    padding-top: 48px;
    padding-bottom: 81px;
    gap: 47px;
  }
  .feature__item {
    width: 350px;
  }
  .feature__item__heading {
    padding-top: 27px;
  }
  .feature__item__text {
    padding-top: 15px;
  }
  .subscribe {
    min-height: 550px;
    flex-direction: column;
    padding-bottom: 110px;
  }
  .author {
    margin-top: 64px;
  }
  .subscribe__info {
    margin-top: 59px;
    margin-bottom: 22px;
  }
  .subscribe__info__text {
    font-size: 15px;
  }
  .contacts {
    height: 143px;
    padding-top: 43px;
    padding-bottom: 10px;
    flex-direction: column-reverse;
    gap: 40px;
  }
}
.top-head {
  background: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-head__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.breadcrumbs__list__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__list__link:hover {
  color: #F16D7F;
}
.breadcrumbs__list__item {
  white-space: nowrap;
}
.breadcrumbs__list__item:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
}
.breadcrumbs__list__item:last-of-type .breadcrumbs__list__link {
  font-weight: bold;
  color: #F16D7F;
}

.filter-sort {
  height: 132px;
  padding-top: 39px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  gap: 30px;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter__content {
  background-color: #FFFFFF;
  padding: 0px 16px 16px 16px;
}
.filter[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__title {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.filter__item {
  margin-top: 16px;
}
.filter__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__link-box {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.filter__link:hover {
  color: #F16D7F;
}
.filter__item[open] .filter__heading {
  color: #F16D7F;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
  z-index: 1;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.pagination {
  padding-top: 48px;
  padding-bottom: 96px;
}

.product {
  width: 360px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.product:hover::after {
  content: url(img/Hover.svg);
  position: absolute;
}
.product__content {
  background-color: #F8F8F8;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product__link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.product__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.slider {
  padding-top: 11px;
  padding-bottom: 42px;
  background: #F7F7F7;
  border: 1px solid #EAEAEA;
  display: flex;
  justify-content: center;
}

.forward::after {
  content: url(img/forward.svg);
  top: 50%;
  right: 0;
  position: absolute;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back::before {
  content: url(img/back.svg);
  top: 50%;
  left: 0;
  position: absolute;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
}

.product__card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 128px;
}

.product__card {
  box-sizing: border-box;
  width: 1140px;
  padding-top: 64px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-64px);
}

.product__card__description {
  width: 641px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #EAEAEA;
}
.product__card__description-category {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.product__card__description-border {
  box-sizing: border-box;
  width: 63px;
  height: 3px;
  background-color: #F16D7F;
  margin-top: 12px;
  margin-bottom: 12px;
}
.product__card__description-brand {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}
.product__card__description-info {
  width: 555px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-bottom: 32px;
}
.product__card__description-price {
  padding-bottom: 65px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.product__card__footer {
  margin-top: 48.5px;
  margin-bottom: 60.5px;
}

.product {
  width: 360px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.product:hover::after {
  content: url(img/Hover.svg);
  position: absolute;
}
.product__content {
  background-color: #F8F8F8;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product__link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.product__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.cart__content {
  margin-top: 96px;
  margin-bottom: 128px;
  display: flex;
  gap: 128px;
}

.product__add {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.product__add__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 652px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  position: relative;
}
.product__add__item__close {
  position: absolute;
  top: 28px;
  right: 22px;
  transition: fill 1s;
}
.product__add__item__close:hover path {
  fill: #F16D7F;
}
.product__add__item img {
  width: 262px;
}
.product__add__item__info {
  padding: 22px 22px 62px 31px;
}
.product__add__item__info__title {
  margin-bottom: 42px;
}
.product__add__item__info__link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.product__add__item__info__link:hover {
  color: #F16D7F;
}
.product__add__item__info__filter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 6px;
}
.product__add__item__info__filter__category {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
.product__add__item__info__filter__condition-price {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #F16D7F;
}
.product__add__item__info__filter__condition {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #6F6E6E;
}
.product__add__item__info__filter__quanity {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.product__add__item__info__filter__quanity__input {
  width: 42px;
  height: 24px;
  border: 1px solid #EAEAEA;
}

input::-webkit-input-placeholder {
  text-align: center;
}

.cart__content__left__buttons {
  margin-top: 73px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart__content__left__buttons__button {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  width: 234px;
  height: 49px;
  background-color: white;
  border: 1px solid #A4A4A4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s ease-in-out;
}
.cart__content__left__buttons__button:hover {
  background: #4A4A4A;
  color: #F8F8F8;
}

.address__info {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.address__info__title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.address__info__input {
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  color: #000;
}
.address__info__input::-moz-placeholder {
  color: #B1B1B1;
}
.address__info__input::placeholder {
  color: #B1B1B1;
}
.address__info__button {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  width: 101px;
  height: 35px;
  background-color: white;
  border: 1px solid #A4A4A4;
  text-align: center;
  vertical-align: middle;
  transition: background-color 0.15s ease-in-out;
}
.address__info__button:hover {
  background: #4A4A4A;
  color: #F8F8F8;
}

.final__score {
  margin-top: 57px;
  width: 360px;
  height: 214px;
  background: #F5F3F3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.final__score__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 39px;
  padding-bottom: 21px;
  border-bottom: 1px solid #E2E2E2;
  width: 273px;
}
.final__score__info__sub__total {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: flex-end;
}
.final__score__info__sub__total__text {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}
.final__score__info__sub__total__amount {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}
.final__score__info__grand__total {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: flex-end;
}
.final__score__info__grand__total__score {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.final__score__info__grand__total__amount {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.final__score__button {
  margin-top: 16px;
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  color: #F8F8F8;
  text-align: center;
  vertical-align: middle;
  transition: background-color 0.15s ease-in-out;
  border: none;
}
.final__score__button:hover {
  background-color: #E05C6E;
}

.registration__content {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 128px;
}

.registration__form__item__title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  margin-bottom: 21px;
}
.registration__form__item__fields {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.registration__form__item__input {
  width: 358px;
  height: 44px;
  border: 1px solid #A4A4A4;
  padding: 0px 16px;
}
.registration__form__item__input::-moz-placeholder {
  text-align: left;
  color: #B1B1B1;
}
.registration__form__item__input::placeholder {
  text-align: left;
  color: #B1B1B1;
}
.registration__form__item__gender {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.registration__form__item__gender input[type=checkbox],
.registration__form__item__gender input[type=radio] {
  display: none;
}
.registration__form__item__gender input[type=radio] + label span {
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 4px 8px 8px 8px;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
}
.registration__form__item__gender label {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000;
}
.registration__form__item__gender input[type=radio]:checked + label span {
  background: #4A4A4A;
}
.registration__form__item__description {
  margin-top: 16px;
  margin-bottom: 39px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 358px;
}

.registration__form__button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border: none;
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  transition: background-color 0.15s ease-in-out;
}

.registration__form__button:hover {
  background-color: #E05C6E;
}

.loyalty__perks__info {
  width: 625px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.loyalty__perks__info__title {
  margin-bottom: 21px;
}
.loyalty__perks__info__offers {
  padding-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.loyalty__perks__info__offer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
  transition: 0.2s;
}
.loyalty__perks__info__offer:hover {
  transform: scale(1.1);
  color: #F16D7F;
}
.loyalty__perks__info__offer:hover path {
  fill: #F16D7F;
}/*# sourceMappingURL=style.css.map */