@import 'vars';
@import 'mixins';


* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.box-content {
    overflow: hidden;
}


.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.header {
    background-color: $backBlockColor;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    &__left {
        gap: 41px;
        display: flex;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 32px;
    }

}

#burger {
    position: absolute;
    left: -999999px;
    visibility: hidden;


    &:checked~.burger__nav {
        right: - $widthBurgerMenu;

    }
}


.burger__nav {
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: $widthBurgerMenu;
    padding: 32px;
    box-sizing: border-box;
    z-index: 1;
    position: absolute;
    top: 80px;
    right: 0;
    transition: right 0.3s;

    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: $textColor;
    }

    &__box {
        padding-top: 24px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }


    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorSelectiveSite;



    }

    &__links-list {
        list-style-type: none;
        display: flex;
        gap: 12px;
        flex-direction: column;


    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        padding-left: 21px;
    }

    &__link:hover {
        color: $colorSelectiveSite
    }
}


.top__info {
    padding-left: calc(50% - $widthLarge / 2);
    padding-right: calc(50% - $widthLarge / 2);
    background: #F1E4E6;
    @include centerFlex;
}

.brand-box {
    border-left: 12px solid $colorSelectiveSite;
    padding-left: 16px;

    &__name {
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
    }

    &__text {
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 58px;
    }
}

.colored {
    color: $colorSelectiveSite;
}




.sale__content {
    padding-top: 65px;
    padding-bottom: 96px;
    background: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gapGrid;
}

.sale__item {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_title {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }

    &_info {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: $colorSelectiveSite;
    }

    &_big {
        min-height: 180px;
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.woman {
    background-image: url(img/item_for_woman.svg);
    background-size: cover;
    background-position-x: center;
}

.man {
    background-image: url(img/item_for_men.svg);
    background-size: cover;
    background-position-x: center;
}

.kids {
    background-image: url(img/item_for_kids.svg);
    background-size: cover;
    background-position-x: center;
}

.accesoires {
    background-image: url(img/item_big_accesories.svg);
    background-size: cover;
    background-position-x: center;
}

.products__info {
    display: flex;
    flex-direction: column;
    text-align: center;

    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
    }
}

.products__items {
    padding-top: 48px;
    background: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product__box {
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    position: relative;

    &:hover::after {
        content: url(img/Hover.svg);
        position: absolute;

    }
}

.product__content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 24.35px;
    padding-bottom: 20px;
    padding-left: 18px;

    &__name {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $textColor;
    }

    &__info {
        margin-top: 12.65px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }

    &__price {
        margin-top: 18px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorSelectiveSite;
    }
}



.products__footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 48.5px;
    margin-bottom: 60.5px;
}

.browse__all__button {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $colorSelectiveSite;
    border: 1px solid #FF6A6A;
    background: none;
    width: 212px;
    height: 48px;
    transition: background-color 1s;

    &:hover {
        background: $colorSelectiveSite;
        color: #F8F8F8;
    }
}



.footer__wrapper {
    background-color: $backBlockColor;
}


.features {
    padding-top: 104px;
    padding-bottom: 104px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.feature__item {
    width: $thirdSiteWidth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__heading {
        font-weight: 400;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
        padding-top: 25px;
    }

    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
        padding-top: 16px;
    }
}



.subscribe {
    background-image: url(img/photo_subscribe.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 97px;
    padding-bottom: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.author {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &__text {
        height: 100px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
        margin-top: 30px;
        width: $thirdSiteWidth;
    }
}



.subscribe__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 167.2%;
        text-align: center;
        color: #222224;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 167.2%;
        text-align: center;
        color: #222224;
    }
}

.subscribe__text-field {

    &__group {
        margin-top: 32px;
        display: flex;
        height: 49px;
    }

    &__input {
        width: 256px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding-left: 21px;
        vertical-align: middle;
        color: #222224;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        position: relative;
        background-color: #E1E1E1;
        border: none;

    }

    &__input::placeholder {
        text-align: left;
    }

    &__btn {
        height: 50px;
        width: 100px;
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: $colorSelectiveSite;
        transition: background-color .15s ease-in-out;
        position: relative;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        border-left-width: 0;
        border: none;
    }

    &__btn:hover {
        background-color: #E05C6E;
    }
}



.contacts {
    display: flex;
    justify-content: space-between;
    margin-left: 235px;
    margin-right: 230px;
    min-height: 79px;
    align-items: center;

    &__copyright {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
        display: flex;
        align-items: center;
    }

    &__social__icons {
        display: flex;
        gap: 7.3px;
        align-items: center;
    }
}



.icon {
    width: 32px;
    fill: #E1E1E1;
}

.icon:hover path {
    fill: $colorSelectiveSite;
}

.social_icon_background {
    width: 32px;
    height: 31px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s;

}

.social_icon {
    fill: black;
}



.social_icon_background:hover {

    background-color: $colorSelectiveSite;

}

.social_icon_background:hover .social_icon path {
    fill: white;

}

@media(max-width: 1024px) {
    .page {
        padding-left: calc(50% - 366px);
        padding-right: calc(50% - 366px);
    }

    .header {
        padding-bottom: 18px;
    }

    .header_menu {
        gap: 25px;
    }

    .top__info {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
    }

    .brand__name {
        font-size: 44px;
        line-height: 53px;
    }

    .brand__text {
        font-size: 24px;
        line-height: 25px;
    }

    .sale__content {
        padding-bottom: 110px;
        gap: 20px;
    }

    .sale__item {
        height: 168px;
    }

    .sale__item_big {
        min-height: 116px;
    }

    .products__items {
        padding-top: 73px;
        background: white;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .product__content {
        padding-left: 16px;
    }

    .products__footer {
        margin-top: 33px;
        margin-bottom: 71px;
    }

    .features {
        padding-top: 48px;
        padding-bottom: 64px;
        gap: 48px;
        align-content: center;
        flex-direction: column;
    }

    .subscribe {
        min-height: 614px;
        flex-direction: column;
        padding-bottom: 140px;
    }


    .subscribe__info {
        margin-top: 48px;
        margin-bottom: 27px;
    }

    .contacts {

        margin-left: 32px;
        margin-right: 32px;
    }





}

@media(max-width: 767px) {

    .page {
        padding-left: calc(50% - 367px / 2);
        padding-right: calc(50% - 367px / 2);
    }

    .none {
        margin: 0 auto;
        display: none;
    }

    .top__info {
        padding-top: 148px;
        padding-bottom: 149px;
    }

    .brand__name {
        font-size: 38px;
        line-height: 46px;
    }

    .brand__text {
        font-size: 20px;
        line-height: 25px;
    }


    .sale__content {
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .sale__item {
        min-height: 247px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sale__item_big {
        min-height: 111px;
    }

    .products__items {
        padding-top: 65px;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .products__footer {
        margin-top: 41px;
        margin-bottom: 85px;
    }

    .features {
        padding-top: 48px;
        padding-bottom: 81px;
        gap: 47px;
    }

    .feature__item {
        width: 350px;
    }

    .feature__item__heading {
        padding-top: 27px;
    }

    .feature__item__text {
        padding-top: 15px;
    }

    .subscribe {
        min-height: 550px;
        flex-direction: column;
        padding-bottom: 110px;
    }

    .author {
        margin-top: 64px;
    }

    .subscribe__info {
        margin-top: 59px;
        margin-bottom: 22px;
    }

    .subscribe__info__text {
        font-size: 15px;
    }

    .contacts {
        height: 143px;
        padding-top: 43px;
        padding-bottom: 10px;
        flex-direction: column-reverse;
        gap: 40px;

    }

}

//catalog page



.top-head {
    background: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $colorSelectiveSite;
    }


}


.breadcrumbs__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;

    &__link {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;

    }

    &__link:hover {
        color: $colorSelectiveSite;
    }

    &__item {
        white-space: nowrap;

    }

    &__item:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
    }

    &__item:last-of-type &__link {
        font-weight: bold;
        color: $colorSelectiveSite;
    }







}

.filter-sort {
    height: 132px;
    padding-top: 39px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    gap: $gapGrid;

}

.filter {

    padding-top: 13px;
    width: $thirdSiteWidth;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    &__content {
        background-color: #FFFFFF;
        padding: 0px 16px 16px 16px;
    }

    &[open] {
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &[open] .filter__title {
        color: $colorSelectiveSite;
    }

    &[open] path {
        fill: $colorSelectiveSite;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $textColor;
    }

    &__item {
        margin-top: 16px;

    }

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSelectiveSite;

    }

    &__link-box {
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 11px;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;

        &:hover {
            color: $colorSelectiveSite;
        }
    }

    &__item[open] .filter__heading {
        color: $colorSelectiveSite;
    }
}

.sort {
    padding-top: 12px;
    display: flex;
    gap: 18px;
    z-index: 1;

    &__details {
        position: relative;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;

    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #6F6E6E;
    }




}





.product-box {
    @include centerFlex();
    gap: $gapGrid;

}

.pagination {
    padding-top: 48px;
    padding-bottom: 96px;
}

.product {
    width: $thirdSiteWidth;
    display: flex;
    flex-direction: column;
    position: relative;

    &:hover::after {
        content: url(img/Hover.svg);
        position: absolute;

    }


    &__content {
        background-color: #F8F8F8;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $textColor;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }

    &__price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorSelectiveSite;
    }
}

//product page
.slider {
    padding-top: 11px;
    padding-bottom: 42px;
    background: #F7F7F7;
    border: 1px solid #EAEAEA;
    display: flex;
    justify-content: center;
}

.forward::after {
    content: url(img/forward.svg);
    top: 50%;
    right: 0;
    position: absolute;
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back::before {

    content: url(img/back.svg);
    top: 50%;
    left: 0;
    position: absolute;
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    width: 100%;
}

.product__card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 128px;
}

.product__card {
    box-sizing: border-box;
    width: $widthSite;
    padding-top: 64px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-64px);

}

.product__card__description {

    width: 641px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;
    ;

    &-category {
        box-sizing: border-box;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $colorSelectiveSite;

    }

    &-border {
        box-sizing: border-box;
        width: 63px;
        height: 3px;
        background-color: $colorSelectiveSite;
        margin-top: 12px;
        margin-bottom: 12px;

    }

    &-brand {

        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
        margin-bottom: 48px;
    }

    &-info {
        width: 555px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5E5E5E;
        margin-bottom: 32px;
    }

    &-price {
        padding-bottom: 65px;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: $colorSelectiveSite;
    }

}

.product__card__footer {
    margin-top: 48.5px;
    margin-bottom: 60.5px;
}

.product {
    width: $thirdSiteWidth;
    display: flex;
    flex-direction: column;
    position: relative;

    &:hover::after {
        content: url(img/Hover.svg);
        position: absolute;

    }


    &__content {
        background-color: #F8F8F8;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $textColor;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }

    &__price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorSelectiveSite;
    }
}

//cart page

.cart__content {
    margin-top: 96px;
    margin-bottom: 128px;
    display: flex;
    gap: 128px;
}

.product__add {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.product__add__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 652px;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    position: relative;

    &__close {
        position: absolute;
        top: 28px;
        right: 22px;
        transition: fill 1s;
    }

    &__close:hover path {
        fill: $colorSelectiveSite;
    }

    & img {
        width: 262px;
    }




    &__info {
        padding: 22px 22px 62px 31px;

        &__title {
            margin-bottom: 42px;
        }

        &__link {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: $textColor;


            &:hover {
                color: $colorSelectiveSite;
            }
        }

        &__filter {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 6px;

            &__category {
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 26px;
                color: #575757;
            }

            &__condition-price {
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 26px;
                color: $colorSelectiveSite;
            }

            &__condition {
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 26px;
                color: #6F6E6E;
            }

            &__quanity {

                display: flex;
                flex-direction: row;
                gap: 24px;

                &__input {
                    width: 42px;
                    height: 24px;
                    border: 1px solid #EAEAEA;
                }

            }
        }
    }








}

input::-webkit-input-placeholder {
    text-align: center;
}

.cart__content__left__buttons {
    margin-top: 73px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;



    &__button {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $textColor;
        width: 234px;
        height: 49px;
        background-color: white;
        border: 1px solid #A4A4A4;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .15s ease-in-out;


    }

    &__button:hover {
        background: #4A4A4A;
        color: #F8F8F8;
    }
}


.cart__content__right {}

.address__info {
    display: flex;
    flex-direction: column;
    gap: 21px;

    &__title {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }

    &__input {
        width: $thirdSiteWidth;
        height: 45px;
        border: 1px solid #A4A4A4;
        color: $textColor;


    }

    &__input::placeholder {
        color: #B1B1B1;
    }

    &__button {
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        width: 101px;
        height: 35px;
        background-color: white;
        border: 1px solid #A4A4A4;
        text-align: center;
        vertical-align: middle;
        transition: background-color .15s ease-in-out;


    }

    &__button:hover {
        background: #4A4A4A;
        color: #F8F8F8;
    }
}

.final__score {
    margin-top: 57px;
    width: $thirdSiteWidth;
    height: 214px;
    background: #F5F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;



    &__info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-top: 39px;
        padding-bottom: 21px;
        border-bottom: 1px solid #E2E2E2;
        ;
        width: 273px;

        &__sub__total {
            display: flex;
            flex-direction: row;
            gap: 24px;
            justify-content: flex-end;

            &__text {
                font-style: normal;
                font-weight: 400;
                font-size: 11px;
                line-height: 13px;
                color: #4A4A4A;
            }

            &__amount {
                font-style: normal;
                font-weight: 400;
                font-size: 11px;
                line-height: 13px;
                color: #4A4A4A;
            }

        }

        &__grand__total {
            display: flex;
            flex-direction: row;
            gap: 24px;
            justify-content: flex-end;

            &__score {
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: $textColor;
            }

            &__amount {
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: $colorSelectiveSite;
            }
        }


    }


    &__button {
        margin-top: 16px;
        width: 273px;
        height: 50px;
        background-color: $colorSelectiveSite;
        color: #F8F8F8;
        text-align: center;
        vertical-align: middle;
        transition: background-color .15s ease-in-out;
        border: none;
    }

    &__button:hover {
        background-color: #E05C6E;
    }

}

// registration page

.registration__content {
    padding-top: 64px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 128px;
}

.registration__form {

    &__item {

        &__title {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: $textColor;
            margin-bottom: 21px;
        }

        &__fields {
            display: flex;
            flex-direction: column;
            gap: 21px;
        }

        &__input {
            width: 358px;
            height: 44px;
            border: 1px solid #A4A4A4;
            padding: 0px 16px;
        }

        &__input::placeholder {
            text-align: left;
            color: #B1B1B1;
        }

        &__gender {
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            gap: 20px;

            input[type=checkbox],
            input[type=radio] {
                display: none;
            }

            input[type=radio]+label span {
                border: 1px solid #A4A4A4;
                border-radius: 50%;
                font-style: normal;
                font-weight: 300;
                font-size: 11px;
                line-height: 13px;
                color: $textColor;
                display: inline-block;
                width: 17px;
                height: 17px;
                margin: 4px 8px 8px 8px;
                padding: 2px;
                text-align: center;
                vertical-align: middle;

            }

            label {
                font-style: normal;
                font-weight: 300;
                font-size: 11px;
                line-height: 13px;
                color: $textColor;
            }

            input[type=radio]:checked+label span {
                background: #4A4A4A;
            }


        }

        &__description {
            margin-top: 16px;
            margin-bottom: 39px;
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
            width: 358px;
        }


    }












}



.registration__form__button {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: none;
    width: 167px;
    height: 50px;
    background-color: $colorSelectiveSite;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition: background-color .15s ease-in-out;


}

.registration__form__button:hover {
    background-color: #E05C6E;
}

.loyalty__perks__info {

    width: 625px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: $textColor;

    &__title {
        margin-bottom: 21px;
    }

    &__text {}

    &__offers {
        padding-top: 21px;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }


    &__offer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 23px;
        transition: 0.2s;
    }

    &__offer:hover {
        transform: scale(1.1);
        color: $colorSelectiveSite;
    }

    &__offer:hover path {
        fill: $colorSelectiveSite;
    }

}